html{
  background-color: #F8EFE7;
}



h1{
  font-size: 50px;
  font-weight: bolder;
  text-align: justify;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 30px;
  color: #34495E;

  }

h2{
  font-size: 30px;
  font-weight: normal;
  color: #F88379;
}

a {
text-decoration: none;
font-style: normal;
font-weight: bold;
}

p{
  font-size: 18px;
  font-weight: normal;
  color: #34495E;
}

ul{
  list-style-type: circle;
  border-right: 1px solid gray;
  width: 150px;
  margin: 0;
  padding: 20px;
}
li a {
			display: block;
			color: #000000;
			padding: 8px;
			text-decoration: none;
			font-weight: bold;
		}

li a:hover {
        background-color: #CD853F;
        color: white;
}

.en{
  font-size: 18px;
  font-weight: bold;
}

#nav{
  display: grid;
  grid-template-columns: 150px 1fr;

}

#nav ul{
  padding-left: 30px;
}
#nav #article{
  padding-left: 150px;

}
 @media(max-width: 800px){

 #nav{ display: block;}

 #nav #article{
   padding-left: 40px;

 }
  ul{border-right: none;}

  h1{ border-bottom: block;
      display: block;
      text-align:right;}
    }
