h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 30px;

  }
body{
  background-color: beige;
 }
a {
text-decoration: none;
color: black;
font-style: normal;
font-weight: lighter;
}

ul{
  border-right: 1px solid gray;
  width: 120px;
  margin: 0;
  padding: 20px;

}

#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ul{
  padding-left: 30px;
}
#grid #article{
  padding-left: 40px;
}
 @media(max-width: 800px){

 #grid{ display: block;}

  ul{border-right: none;}

  h1{ border-bottom: block;
      display: block;
      text-align:right;}
    }
